* {
  font-family: sans-serif;
}

input {
  padding: 5px 10px;
  width: 80%;
}

button {
  width: 15%;
  padding: 5px 10px;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ol li {
  padding: 10px 0;
}

.input-div {
  margin: 20px;
  text-align: center;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
}

.todo-div {
  text-align: center;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
}
